<div class="container pt-3 pb-5">

  <%= form_tag(upload_path, multipart: true) do %>
    <div class="d-sm-flex align-items-center pb-2">
      <div>
        <%= label_tag 'historico', 'Escolher Histórico para Análise', class: 'btn btn-sm btn-preto-brilhante m-0' %>
        <%= file_field_tag 'historico', accept: '.pdf', class: 'upload-input', required: true %>
      </div>
      <div class="preview preview-display pl-2 pr-3">
      </div>
      <div>
        <%= submit_tag "Analisar", class: 'btn btn-sm btn-success btn-hidden btn-analisar' %>
      </div>
    </div>
  <% end %>

  <% if @pdf_verified %>
    <div class="shadow rounded pb-4 box-white">
      <div class="card-header">
        <ul class="nav nav-pills card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="geral" aria-selected="true">Geral</a>
          </li>
          <% @unique_ano_per.each_with_index do |ano_per, index| %>
            <li class="nav-item">
              <a class="nav-link" id=<%= "tab-#{index}" %> data-toggle="tab" href=<%= "#per-#{index}" %> role="tab" aria-controls=<%= "#per-#{index}" %> aria-selected="false"><%= ano_per %></a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-content px-3" id="myTabContent">
        <div class="d-sm-flex justify-content-between pt-3 pb-1">
          <h5>Nome: <%= @h.nome %></h5>
          <h5>Matrícula: <%= @h.matricula %></h5>
        </div>

        <div class="tab-pane fade show active text-center" id="geral" role="tabpanel" aria-labelledby="geral-tab">
          Colocar aqui informações gerais...
        </div>
        <% @unique_ano_per.each_with_index do |ano_per, index| %>
          <div class="tab-pane fade text-center" id=<%= "per-#{index}" %> role="tabpanel" aria-labelledby=<%= "tab-#{index}" %>>
            Informações sobre o período <%= ano_per %>
            <p>Hrs APR: <%= @hrs_apr_regulares[index - 1] %></p>
            <p>IRA: <%= @ira[index - 1] %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow rounded mt-4 pt-3 pb-1 px-3 text-muted">
      <p>O arquivo selecionado não foi idendificado como um histórico válido do SIGAA.</p>
    </div>
  <% end %>
</div>
