<div class="container pt-3 pb-5 px-2 px-sm-3">
  <%= form_tag(upload_path, multipart: true) do %>
    <div class="d-sm-flex align-items-center pb-2">
      <div>
        <%= label_tag 'historico', 'Escolher Histórico para Análise', class: 'btn btn-sm btn-preto-brilhante m-0' %>
        <%= file_field_tag 'historico', accept: '.pdf', class: 'upload-input', required: true %>
      </div>
      <div class="preview preview-display pl-2 pr-3">
      </div>
      <div>
        <%= submit_tag "Analisar", class: 'btn btn-sm btn-success btn-hidden btn-analisar' %>
      </div>
    </div>
  <% end %>

  <% if @pdf_verified %>
    <div class="shadow rounded pb-4 box-white all-data-box">
      <div class="card-header">
        <ul class="nav nav-pills card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="geral" aria-selected="true">Geral</a>
          </li>
          <% @unique_ano_per.each_with_index do |ano_per, index| %>
            <li class="nav-item">
              <a class="nav-link" id=<%= "tab-#{index}" %> data-toggle="tab" href=<%= "#per-#{index}" %> role="tab" aria-controls=<%= "#per-#{index}" %> aria-selected="false"><%= ano_per %></a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-content px-2 px-sm-3" id="myTabContent">
        <div class="check-boxes d-flex mt-1">
          <div><input type="checkbox" id="media-curso" name="media-curso"><label class="media-curso my-0 pt-1 pl-1 pl-sm-2 mr-3 mr-sm-5" for="media-curso">Média Curso</label></div>
          <div><input type="checkbox" id="media-geral" name="media-geral"><label class="media-geral my-0 pt-1 pl-1 pl-sm-2" for="media-geral">Média Geral</label></div>
        </div>

        <hr class="my-1">

        <div class="mt-2 d-md-flex mt-md-3 justify-content-between">
          <h5>Nome: <%= @h.nome %></h5>
          <h5>Matrícula: <%= @h.matricula %></h5>
        </div>

        <h4 class="mb-md-3">Curso: <%= @h.curso %></h5>

        <div class="tab-pane fade show active" id="geral" role="tabpanel" aria-labelledby="geral-tab">
          <hr>
          <h4 class="mb-md-3">Estrutura Curricular: <%= "#{@h.curriculo_codigo} - #{@h.curriculo_periodo}" %></h5>
          <h4 class="mb-md-3">Início do Curso: <%= @h.inicio %></h5>
          <h4 class="mb-md-3">Carga Horária Exigida: <%= @h.exigido %></h5>
        </div>

        <% @unique_ano_per.each_with_index do |ano_per, index| %>
          <div class="tab-pane fade" id=<%= "per-#{index}" %> role="tabpanel" aria-labelledby=<%= "tab-#{index}" %>>
            <div class="d-md-flex">
              <div class="indexes-box pb-3 mr-md-4">
                <h5 class="indexes-box-title text-center py-1 m-0">Índices Acadêmicos</h5>
                <div class="container">
                  <div class="d-flex flex-wrap justify-content-between my-2">
                    <p class="my-0 third-width">Nº Trancado: <%= @pontuais_values[:num_trancado][index] %></p>
                    <p class="my-0 third-width">Nº Matriculado: <%= @pontuais_values[:num_matriculado][index] %></p>
                    <p class="my-0 third-width">Nº Atividades: Cursado | Aprovado  </p>
                    <p class="my-0 third-width">CH Aproveitado: </p>
                  </div>
                  <hr class="my-0">
                  <% if @pontuais_values[:mat_trancada][index] %>
                    <p class="text-center mt-4 dark-box">MATRÍCULA TRANCADA</p>
                  <% elsif @pontuais_values[:mat_cancelada][index] %>
                    <p class="text-center mt-4 dark-box">MATRÍCULA CANCELADA</p>
                  <% elsif @pontuais_values[:num_matriculado][index] > 0 %>
                    <p class="text-center mt-4 dark-box">MATRICULADO</p>
                  <% elsif @pontuais_values[:nenhuma_situação][index] > 0 %>
                    <p class="text-center mt-4 dark-box">SEM REGISTRO DE SITUAÇÃO DE DISCIPLINA</p>
                  <% else %>
                    <div class="row justify-content-between align-items-center">
                      <% @gerais_names.values.each_with_index do |name, i| %>
                        <div class="col-12 col-sm-5 col-md-6 col-lg-5 mt-2 mt-sm-3 title-data-col">
                          <div class="row no-gutters justify-content-sm-between index-row">
                            <div class="col-3 col-sm-5">
                              <p class="index-title text-left mr-1 my-0"><%= "#{name}:" %></p>
                            </div>
                            <div class="col-9 col-sm-7 align-self-center triple-data-col">
                              <div class="triple-data-box">
                                <p class="index-data"><%= @gerais_values.values[i][index] %></p>
                                <p class="index-data-curso index-data-curso-off"><%= @curso_gerais_averages.values[i][index] %></p>
                                <p class="index-data-geral index-data-geral-off"><%= @curso_contrapartida_averages.values[i][index] %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="indexes-box pb-3">
                <h5 class="indexes-box-title text-center py-1 m-0">Contrapartida Proaes</h5>
                <div class="container">
                  <div class="d-flex flex-wrap justify-content-between my-2">
                    <p class="my-0 third-width">CH Mín: <%= @h.ch_min %></p>
                    <p class="my-0 third-width">CH Cursado: <%= @hrs_cursado_regulares_eletivas[index] %></p>
                    <p class="my-0 third-width">CH Matriculado: <%= @pontuais_values[:hrs_matriculado_regulares][index] + @pontuais_values[:hrs_matriculado_eletivas][index] %></p>
                  </div>
                  <hr class="my-0">
                  <div class="row justify-content-between align-items-center">
                    <% @contrapartida_names.values.each_with_index do |name, i| %>
                      <div class="col-12 col-sm-5 col-md-6 col-lg-5 mt-2 mt-sm-3 title-data-col">
                        <div class="row no-gutters justify-content-sm-between index-row">
                          <div class="col-3 col-sm-5">
                            <p class="index-title text-left mr-1 my-0"><%= "#{name}:" %></p>
                          </div>
                          <div class="col-9 col-sm-7 align-self-center triple-data-col">
                            <div class="triple-data-box">
                              <p class="index-data"><%= "#{@contrapartida_values.values[i][index]}" %></p>
                              <p class="index-data-curso index-data-curso-off">000</p>
                              <p class="index-data-geral index-data-geral-off">000</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <hr>
                  <div class="d-flex mb-2">
                    <div class="width-resultados"><p class="my-0">Resultado: </p></div>
                    <div class="flex-grow-1 text-center"><p class="index-data"><%= @contrapartida_resultado[index] %></p></div>
                  </div>
                  <div class="d-flex">
                    <div class="width-resultados"><p class="my-0">Motivo: </p></div>
                    <div class="flex-grow-1 text-center"><p class="index-data"><%= @contrapartida_motivo[index] %></p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow rounded mt-4 pt-3 pb-1 px-3 text-muted">
      <p>O arquivo selecionado não foi idendificado como um histórico válido do SIGAA.</p>
    </div>
  <% end %>
</div>
