<div class="container pt-3 pb-5 px-2 px-sm-3">
  <%= form_tag(upload_path, multipart: true) do %>
    <div class="d-sm-flex align-items-center pb-2">
      <div>
        <%= label_tag 'historico', 'Escolher Histórico para Análise', class: 'btn btn-sm btn-preto-brilhante m-0' %>
        <%= file_field_tag 'historico', accept: '.pdf', class: 'upload-input', required: true %>
      </div>
      <div class="preview preview-display pl-2 pr-3">
      </div>
      <div>
        <%= submit_tag "Analisar", class: 'btn btn-sm btn-success btn-hidden btn-analisar' %>
      </div>
    </div>
  <% end %>

  <% if @pdf_verified %>
    <div class="shadow rounded pb-4 box-white">
      <div class="card-header">
        <ul class="nav nav-pills card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="geral-tab" data-toggle="tab" href="#geral" role="tab" aria-controls="geral" aria-selected="true">Geral</a>
          </li>
          <% @unique_ano_per.each_with_index do |ano_per, index| %>
            <li class="nav-item">
              <a class="nav-link" id=<%= "tab-#{index}" %> data-toggle="tab" href=<%= "#per-#{index}" %> role="tab" aria-controls=<%= "#per-#{index}" %> aria-selected="false"><%= ano_per %></a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-content px-2 px-sm-3" id="myTabContent">
        <div class="check-boxes d-flex mt-1">
          <div><input type="checkbox" id="media-curso" name="media-curso"><label class="media-curso my-0 pt-1 pl-1 pl-sm-2 mr-3 mr-sm-5" for="media-curso">Média Curso</label></div>
          <div><input type="checkbox" id="media-geral" name="media-geral"><label class="media-geral my-0 pt-1 pl-1 pl-sm-2" for="media-geral">Média Geral</label></div>
        </div>

        <hr class="my-1">

        <div class="d-sm-flex justify-content-between">
          <h5 class="my-2 my-sm-3">Nome: <%= @h.nome %></h5>
          <h5 class="my-2 my-sm-3">Matrícula: <%= @h.matricula %></h5>
        </div>

        <div class="tab-pane fade show active" id="geral" role="tabpanel" aria-labelledby="geral-tab">
          O conjunto da obra:
        </div>

        <% @unique_ano_per.each_with_index do |ano_per, index| %>
          <div class="tab-pane fade" id=<%= "per-#{index}" %> role="tabpanel" aria-labelledby=<%= "tab-#{index}" %>>
            <div class="d-md-flex">
              <div class="indexes-box flex-grow-1 pb-3 mr-md-4">
                <h5 class="indexes-box-title text-center py-1 m-0">Índices Gerais</h5>
                <div class="d-md-flex flex-md-wrap">
                  <% @gerais_names.values.each_with_index do |name, i| %>
                    <div class="d-flex justify-content-center">
                      <p class="index-title mr-1"><%= "#{name}:" %></p>
                      <div class="triple-data-box">
                        <p class="index-data align-middle"><%= "#{@gerais_values.values[i][index]}" %></p>
                        <p class="index-data-curso index-data-curso-off">0.00</p>
                        <p class="index-data-geral index-data-geral-off">0.00</p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="indexes-box flex-grow-1 pb-3">
                <h5 class="indexes-box-title text-center py-1 m-0">Contrapartida Proaes</h5>
                <div class="d-md-flex flex-md-wrap">
                  <% @contrapartida_names.values.each_with_index do |name, i| %>
                    <div class="d-flex justify-content-center">
                      <p class="index-title mr-1"><%= "#{name}:" %></p>
                      <div class="triple-data-box">
                        <p class="index-data"><%= "#{@contrapartida_values.values[i][index]}" %></p>
                        <p class="index-data-curso index-data-curso-off">000</p>
                        <p class="index-data-geral index-data-geral-off">000</p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="shadow rounded mt-4 pt-3 pb-1 px-3 text-muted">
      <p>O arquivo selecionado não foi idendificado como um histórico válido do SIGAA.</p>
    </div>
  <% end %>
</div>
